{% extends "base.html" %} 
{% block title %} Adicionar modelo {% endblock %} 
{% block content %}

{% load static %}
<div class="relative h-full flex flex-col justify-center items-center overflow-hidden bg-no-repeat bg-center bg-cover">   
  <h5 class="mb-2  z-10 text-black text-4xl text-center font-bold tracking-tight text-gray-900" >
  {% if modelo %} EDITAR{% else %} CADASTRAR {% endif %} MODELO</h5>

  <form class="relative z-10 block flex flex-col gap-4 w-96 p-6 bg-blue-300 bg-opacity-90 border border-white border-2 rounded-lg shadow dark:border-white border-dashed" method="post">
      {% csrf_token %}
      <input class="block text w-full p-2 text-gray-900 border border-gray-300 rounded-lg text-xs focus:ring-blue-500 focus:border-blue-500" type="text" name="name" placeholder="Nome..." value="{{ modelo.name }}">
<style>
  select {
    display: block;
    width: 100%;
    padding: 0.5rem; /* 2 = 0.5rem */
    font-size: 0.875rem; /* text-sm */
    color: #1f2937; /* text-gray-900 */
    border: 1px solid #d1d5db; /* border-gray-300 */
    border-radius: 0.375rem; /* rounded-lg */
    background-color: #f3f4f6; /* bg-gray-100 */
    transition: border-color 0.2s, box-shadow 0.2s; /* para animações suaves */
}

select:focus {
    border-color: #3b82f6; /* focus:border-blue-500 */
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* para simular o ring azul */
}
</style>
  {{form.montadora_id}}

<!-- <div class="flex justify-between items-center">
  <select id="small" name="montadora_id" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:ring-blue-500 focus:border-blue-500">
    {% for obj in montadoras %}
    <option value="{{ obj.id }}" {% if modelo.montadora_id == obj.id %}selected{% endif %}>
      {{ obj }}
    </option>
  {% endfor %}
  </select>
</div> -->
   
      <input class="block text w-full p-2 text-gray-900 border border-gray-300 rounded-lg text-xs focus:ring-blue-500 focus:border-blue-500" type="number" name="valor_referencia" placeholder="Valor de referência" value="{{ modelo.valor_referencia }}"/>
      <input class="block text w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" type="number" name="motorizacao" placeholder="Motorização" value="{{ modelo.motorizacao }}"/>

      <div class="flex items-center ps-2 border border-gray-200 rounded bg-gray-200">
        <!-- <input type="checkbox" name="turbo" id="id_turbo" placeholder="Turbo" value="{{ modelo.turbo }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/> -->
        {{form.turbo}}
        <label for="id_turbo" class="w-full mt-0.5 py-4 ms-2 text-sm font-medium text-gray-900 ">Turbo</label>
      </div>
      <div class="flex items-center ps-2 border border-gray-200 rounded bg-gray-200">
        <!-- <input type="checkbox" name="automatico" id="id_automatico" placeholder="Automático" value="{{ modelo.automatico }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/> -->
        {{form.automatico}}
        <label for="id_automatico" class="w-full mt-0.5 py-4 ms-2 text-sm font-medium text-gray-900 ">Automático</label>
      </div>

      <input 
      {% if modelo %}
      value="ATUALIZAR" 
      {% else %}
      value="SALVAR"
      {% endif %}
      
      type="submit" class="text-yellow-300 font-bold bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2 w-full" id="submitBtn"/>
  </form>
</div>


{% endblock %}